@import url("https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/themes/light.css");

sl-tab::part(base) {
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem;
}

sl-tab i {
    pointer-events: none;
}

sl-tab-panel .right,
sl-tab-panel .left {
    width: 100%;
}

hr {
    clear: both;
}

aside {
    display: none;
}

@media (min-width: 600px) {

    .viewer .left,
    .viewer .right {
        width: 100% !important;
    }
}

@media (min-width: 1200px) {
    .col-xl-9 {
        width: 100%;
    }
}

#main-wrapper>.container {
    max-width: 100%;
}

.post-content iframe,
.post-content .right,
.post-content .left {
    display: none;
}

article>main {
    position: relative;
}

.post-content {
    width: calc(50% - 8px);
    background-color: #F8F8F8;
    padding: 0 0.5em;
}

.viewer {
    position: fixed;
    top: 8px;
    right: 0;
    width: calc(50% - 8em);
    height: 50dvh;
    padding-top: 1em;
    align-items: start;
}

iframe.small,
iframe.medium,
iframe.large {
    width: 100% !important;
    height: unset !important;
}

.active {
    background-color: #fff;
    box-shadow: 0 0 3px 1px #00000040;
    border-color: #9e9e9e;
    margin: 0 -0.5em 1em -0.5em;
    padding: 0 0.5em;
}

wa-carousel,
wa-carousel-item {
    aspect-ratio: unset;
    height: 33%;
}

wa-carousel iframe {
    width: 100% !important;
    height: unset !important;
}