@import url("https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/themes/light.css");

@media (min-width: 1200px) {
    .content {
        font-size: 1.2em;
    }
}

sl-tab::part(base) {
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem;
}

sl-tab i {
    pointer-events: none;
}

sl-tab-panel .right,
sl-tab-panel .left {
    width: 100%;
}

hr {
    clear: both;
}

.media-pair {
    display: flow-root;
    /* contains floats; prevents next pair from rising */
    margin-block: 1rem;
    /* optional spacing */
}

/*
aside#panel-wrapper {
    display: none;
}

#main-wrapper main {
    width: 100%;
    max-width: 1000px;
}
*/

/* Float positioning */
@media (min-width: 768px) {

    /* styles for non-mobile screens */
    .left,
    .right {
        width: 50%;
        margin-top: 0;
    }

    p+.left {
        margin: .75rem 1rem .5rem 0;
    }

    p+.right {
        margin: .75rem 0 .5rem 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        clear: both;
    }
}

@media (max-width: 768px) {

    /* mobile devices */
    .right,
    .left {
        width: 100%;
        float: unset;
        margin: 0 0 1rem 0;
    }
}

/* Caption styling */
.content a.popup+em,
.embed-video+em,
.embed-audio+em {
    line-height: 1.2;
    font-size: large;
    margin-bottom: 0.5em;
}

attribution {
    font-size: 90%;
    color: gray;
}

/* ****** Entity Popup ****** */

.entity-popup sl-card {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 250px;
    max-height: 600px;
    background-color: white;
    /* margin: 1rem; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.entity-popup sl-card img {
    max-height: 250px;
    object-fit: cover;
}

.entity-popup sl-card .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    /* padding: 0.5rem; */
    overflow-y: scroll;
    line-height: 1.2;
    font-size: 80%;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 0;
}

.entity-popup sl-card .content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0 0.25rem 0;
    line-height: 1;
}

.entity-popup sl-card .content .description {
    margin: 0;
    padding: 0;
}

.entity-popup sl-card .content p.description {
    font-style: italic;
}

.entity-popup .description p:last-of-type {
    margin-bottom: 0;
}

.entity-popup sl-card::part(footer) {
    padding: 0;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    font-size: 80%;
    font-weight: 500;
}

.entity-popup [slot='trigger'] {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: rgba(153, 204, 204, 1);
    text-decoration-thickness: 3px;
    cursor: pointer;
}

.entity-popup [slot='trigger']:hover {
    background-color: rgba(153, 204, 204, 0.6);
}

.entity-popup sl-card [slot='footer'] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

/* ****** End Entity Popup ****** */

a.trigger {
    columns: inherit;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: rgba(250, 128, 114, 0.7);
    text-decoration-thickness: 3px;
    cursor: pointer;
    color: inherit;
}

a.trigger:hover {
    background-color: rgba(250, 128, 114, 0.2)
}

iframe.embed-youtube {
    width: 100%;
    aspect-ratio: 1.55;
}

figure.iframe-wrapper iframe {
    width: 100%;
    aspect-ratio: 0.59
}

figure.iframe-wrapper figcaption {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}

.post-content {
    margin-bottom: 60dvh;
}