---
layout: default
---

{%- comment -%}
Grab all docs in the _admin collection
{%- endcomment -%}
{% assign admin_docs = site.docs | where_exp:"item", "item.relative_path != '_admin/index.md'" | sort: "title" %}

{%- comment -%}
Split into those with an order defined and those without
{%- endcomment -%}
{% assign with_order    = admin_docs | where_exp: "d", "d.order" | sort: "order" %}
{% assign without_order = admin_docs | where_exp: "d", "d.order == nil" | sort: "title" %}

{% assign ordered = with_order | concat: without_order %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for article in ordered %}
      {% include post_list_item.html post=article %}
  {% endfor %}
</div>
