---
layout: default
panel_includes:
- toc
tail_includes:
- related-posts
- post-nav
script_includes:
- comment
---

<script>
  let sidebar = document.querySelector('div.sidebar-bottom');
  let modeToggle = document.createElement('a');
  modeToggle.id = 'col-mode-toggle';
  modeToggle.setAttribute('aria-label', 'Column Mode Toggle');
  modeToggle.setAttribute('rel', 'noopener noreferrer');
  modeToggle.style.cursor = 'pointer';
  let icon = document.createElement('i');
  icon.className = 'fa-solid fa-table-columns';
  modeToggle.appendChild(icon);

  const ghLink = sidebar.children[2];
  if (ghLink) {
    ghLink.replaceWith(modeToggle);
  }
</script>

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

{% include lang.html %}

{% include toc-status.html %}

<article class="px-1" data-toc="{{ enable_toc }}">
  <header>
    <h1 data-toc-skip>{{ page.title }}</h1>
    {% if page.description %}
    <p class="post-desc fw-light mb-4">{{ page.description }}</p>
    {% endif %}

    <div class="post-meta text-muted">
      <!-- published date -->
      <span>
        {{ site.data.locales[lang].post.posted }}
        {% include datetime.html date=page.date tooltip=true lang=lang %}
      </span>

      <!-- lastmod date -->
      {% if page.last_modified_at and page.last_modified_at != page.date %}
      <span>
        {{ site.data.locales[lang].post.updated }}
        {% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}
      </span>
      {% endif %}

      {% if page.image %}
      {% assign raw_src = page.image.path | default: page.image %}

      {%- capture src -%}
      {%- include url_from_src.html src=raw_src media_subpath=page.media_subpath mw_width=1200 -%}
      {%- endcapture -%}
      {%- assign src = src | strip -%}

      {%- assign commons_thumb_prefix = "https://upload.wikimedia.org/wikipedia/commons/thumb" -%}

      {%- assign do_resize = true -%}

      {%- if page.image.resize == false -%}
      {%- assign do_resize = false -%}
      {%- elsif src contains commons_thumb_prefix -%}
      {%- assign do_resize = false -%}
      {%- endif -%}

      {%- if do_resize -%}
      {%- assign base = "https://res.cloudinary.com/dmceci9t1/image/fetch/" -%}
      {%- assign transform_safe = "w_1200,h_630" -%}
      {%- assign src_safe = src | url_encode -%}
      {%- assign final_src = base | append: transform_safe | append: "/" | append: src_safe -%}
      {%- else -%}
      {%- assign final_src = src -%}
      {%- endif -%}

      {% capture src %}src="{{ final_src }}"{% endcapture %}

      {% capture class %}class="preview-img{% if page.image.no_bg %} no-bg{% endif %}"{% endcapture %}
      {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

      {% if page.image.lqip %}
      {%- capture lqip -%}lqip="{{ page.image.lqip }}"{%- endcapture -%}
      {% endif %}

      <div class="mt-3 mb-3">
        <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip }}>
        {%- if page.image.alt -%}
        <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
        {%- endif -%}
      </div>
      {% endif %}

      <div class="d-flex justify-content-between">
        <!-- author(s) -->
        <span>
          {% if page.author %}
          {% assign authors = page.author %}
          {% elsif page.authors %}
          {% assign authors = page.authors %}
          {% endif %}

          {{ site.data.locales[lang].post.written_by }}

          <em>
            {% if authors %}
            {% for author in authors %}
            {% if site.data.authors[author].url -%}
            <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
            {%- else -%}
            {{ site.data.authors[author].name | default: author }}
            {%- endif %}
            {% unless forloop.last %}{{ '</em>, <em>' }}{% endunless %}
            {% endfor %}
            {% else %}
            <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
            {% endif %}
          </em>
        </span>

        <div>
          <!-- pageviews -->
          {% if site.pageviews.provider and site.analytics[site.pageviews.provider].id %}
          <span>
            <em id="pageviews">
              <i class="fas fa-spinner fa-spin small"></i>
            </em>
            {{ site.data.locales[lang].post.pageview_measure }}
          </span>
          {% endif %}

          <!-- read time -->
          {% include read-time.html content=content prompt=true lang=lang %}
        </div>
      </div>
    </div>
  </header>

  {% if enable_toc %}
  <div id="toc-bar" class="d-flex align-items-center justify-content-between invisible">
    <span class="label text-truncate">{{ page.title }}</span>
    <button type="button" class="toc-trigger btn me-1">
      <i class="fa-solid fa-list-ul fa-fw"></i>
    </button>
  </div>

  <button id="toc-solo-trigger" type="button" class="toc-trigger btn btn-outline-secondary btn-sm">
    <span class="label ps-2 pe-1">{{- site.data.locales[lang].panel.toc -}}</span>
    <i class="fa-solid fa-angle-right fa-fw"></i>
  </button>

  <dialog id="toc-popup" class="p-0">
    <div class="header d-flex flex-row align-items-center justify-content-between">
      <div class="label text-truncate py-2 ms-4">{{- page.title -}}</div>
      <button id="toc-popup-close" type="button" class="btn mx-1 my-1 opacity-75">
        <i class="fas fa-close"></i>
      </button>
    </div>
    <div id="toc-popup-content" class="px-4 py-3 pb-4"></div>
  </dialog>
  {% endif %}

  <hr />

  <main>
    <div class="post-content">{{ content }}</div>
    <div class="viewer"></div>
  </main>

  <div class="post-tail-wrapper text-muted">
    <!-- categories -->
    {% if page.categories.size > 0 %}
    <div class="post-meta mb-3">
      <i class="far fa-folder-open fa-fw me-1"></i>
      {% for category in page.categories %}
      <a href="{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/">{{ category }}</a>
      {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    </div>
    {% endif %}

    <!-- tags -->
    {% if page.tags.size > 0 %}
    <div class="post-tags">
      <i class="fa fa-tags fa-fw me-1"></i>
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/" class="post-tag no-text-decoration">
        {{- tag -}}
      </a>
      {% endfor %}
    </div>
    {% endif %}

    <div class="
        post-tail-bottom
        d-flex justify-content-between align-items-center mt-5 pb-2
      ">
      <div class="license-wrapper">
        {% if site.data.locales[lang].copyright.license.template %}
        {% capture _replacement %}
        <a href="{{ site.data.locales[lang].copyright.license.link }}">
          {{ site.data.locales[lang].copyright.license.name }}
        </a>
        {% endcapture %}

        {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}
        {% endif %}
      </div>

      {% include post-sharing.html lang=lang %}
    </div>
    <!-- .post-tail-bottom -->
  </div>
  <!-- div.post-tail-wrapper -->
</article>

<script type="module">

  import { isMobile, autoFloat, makeEntityPopups, wrapAdjacentEmbedsAsTabs, addActionLinks, init2col } from "{{ '/assets/js/main.js' | relative_url }}";

  makeEntityPopups();
  wrapAdjacentEmbedsAsTabs();
  addActionLinks();

  let doAutoFloat = '{{ page.auto_float | default: "false" }}'.toLowerCase() === 'true';
  if (doAutoFloat && !isMobile) autoFloat();

  let mainWrapper = document.getElementById('main-wrapper');
  mainWrapper.classList.add('col1');
  document.getElementById('col-mode-toggle')?.addEventListener('click', () => {
    if (mainWrapper.classList.contains('col2')) {
      mainWrapper.classList.remove('col2');
      mainWrapper.classList.add('col1');
    } else {
      mainWrapper.classList.remove('col1');
      mainWrapper.classList.add('col2');
      init2col();
    }
  });
</script>